.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-header {
    background: linear-gradient(20deg, 
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        rgb(89, 0, 0),
        rgb(155, 0, 0)
    );
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-span {
    color: white;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.header-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: fit-content;
}

.header-analyse-button, 
.header-github-button,
.header-report-button, 
.header-demo-button {
    width: fit-content;
    padding: 15px 30px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: var(--primary-border-radius);
    background-color: var(--primary-color);
    transition: background-color var(--primary-transition), border var(--primary-transition);
    border: 2px solid var(--primary-color);
}

.header-github-button,
.header-report-button, 
.header-demo-button {
    color: var(--primary-color);
    background: none;
    font-weight: 700;
    border: 2px solid var(--primary-color);
    transition: color var(--primary-transition), border var(--primary-transition);
}

.header-analyse-button:hover {
    background-color: var(--primary-hover);
    border: 2px solid var(--primary-hover);
}

.header-report-button:hover, .header-github-button:hover {
    color: var(--primary-light-hover);
    border: 2px solid var(--primary-light-hover);
}

.header-animation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-circle {
    background-image: url('../Cortext.Media/circle.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    height: 460px;
}

.header-phrases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 300px;
    padding: 10px;
}

.yellow-dot {
    background-color: var(--primary-color);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    top: 48%;
    left: 50.4%;
    transition: top var(--primary-transition), left var(--primary-transition);
}

.random-text-span {
    color: rgb(100, 100, 100);
    font-size: 15px;
    transition: color var(--primary-transition);
}

.home-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: fit-content;
}

.home-text-title {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.home-text-description {
    font-size: 20px;
    color: rgb(160, 160, 160);
    width: 800px;
}

.home-header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.home-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 400px;
    border-radius: var(--primary-border-radius);
}

.home-image {
    width: 200px;
    margin-bottom: 20px;
}

.home-image-title {
    font-size: 20px;
    font-weight: 700;
    color: white;
    width: fit-content;
}

.home-image-description {
    font-size: 18px;
    color: rgb(160, 160, 160);
    width: fit-content;
}

@media only screen and (max-width: 1600px) {
    .home-header {
        gap: 30px;   
    }
}

@media only screen and (max-width: 1400px) {
    .home-header {
        gap: 100px;
        display: flex;
        flex-direction: column;
        height: 1300px;
    }

    .header-text {
        text-align: center;
    }

    .home-text-content {
        width: 90%;
    }
    
    .home-images-container {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px) {
    .header-animation {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 50px;
    }

    .home-header {
        height: 1700px;
    }
}

@media only screen and (max-width: 900px) {
    .home-header-row {
        display: flex;
        flex-direction: column;
    }

    .home-text-description {
        width: 80%;
    }
}
@media only screen and (max-width: 700px) {
    .header-circle {
        width: 300px;
        height: 200px;
    }

    .yellow-dot {
        height: 10px;
        width: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .home-text-title {
        font-size: 30px;
    }

    .home-images-container {
        width: 90%;
    }

    .home-image-container {
        width: 90%;
    }

    .home-image-description {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    .home-header {
        height: 1400px;
    }

    .header-span {
        line-height: 30px;
        font-size: 30px;
    }

    .header-buttons-container {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .header-report-button {
        width: 100%;
    }
    
    .home-image {
        width: 100px;
    }
}

@media only screen and (max-width: 350px) {
    .header-phrases {
        width: 100%;
    }

    .random-text-span {
        width: 100%;
    }
}